table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    /* Aplica a sombra
    | Direita/Esq | Baixo/Cima | Dispersão |    
    */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    color: white;
    background-color: rgb(61, 59, 59);
}