
#container_pai {
    height: 500px; /*Altura*/
    background-color: black;
    padding: 25px; /* Margem interna */
    display: flex;
    flex-direction: row; /* Controla o eixo principal*/
    justify-content: center;
    align-items: center;
    gap: 50px; /*Espaço entre os itens*/
    flex-wrap: wrap;
}


#Container_1 {
    background-color: rgb(43, 177, 182);
    padding: 15px;
}

#Container_2 {
    background-color: rgb(236, 147, 229);
    padding: 15px;
}

#Container_3 {
    background-color: rgb(105, 57, 150);
    padding: 15px;
}

.fonte {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}